<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> <%= genre %> Music </title>
</head>
<body>
    <header>
        <h1>Soundwave Studios</h1>
        <div>Amplify your vision</div>
    </header>   

    <main>
        <h2> <%= genre %> </h2> 
    </main>
    
</body>
</html>