<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SoundWave Studios</title>
</head>
<body>
    <header>
        <h1>Soundwave Studios</h1>
        <div>Amplify your vision</div>
     </header>
</body>
</html>